mat-toolbar{
    background-color: black;
    color: white;

}

.Spacer{
    flex: 1 1 auto;
}

.example-container {
    width: 100%;
    height: 89%;
}

mat-drawer{
    width: 350px;
}

mat-drawer-content{
    width: auto;
}