<mat-card class="um">
    <mat-card-title>Paradoxo dos Gêmeos</mat-card-title>
    <mat-card-subtitle>Existiam gêmeos idênticos, A e B. O gêmeo A fez uma viagem espacial para um planeta localizado a uma distância de 8 anos-luz da Terra e com uma velocidade de 0,5 c, enquanto o gêmeo B permaneceu na Terra. Ambos tinham relógios que marcavam a mesma hora antes da viagem. Para o gêmeo que ficou na Terra, a distância percorrida pela nave permaneceu a mesma, mas para o que viajou com velocidade de 0,5 c, o cálculo da distância foi feito utilizando-se a equação da contração do comprimento. A distância percorrida pelo irmão que viajou foi de 7 anos-luz. Assim, a viagem para o gêmeo B demorou 16 anos (8/0,5) para ida e 16 para volta, somando 32 anos, enquanto para o gêmeo A foi de 14 (7/05) anos para ida e 14 para a volta, totalizando aproximadamente 28 anos. Percebemos que o gêmeo que ficou na Terra envelheceu 4 anos a mais do que o que viajou.</mat-card-subtitle>
</mat-card>
<mat-card class="dois">
    <mat-card-title class="title">Fator de Lorentz</mat-card-title>
    <mat-card-subtitle>Fómula para calcular efeitos como o do paradoxo dos gêmeos</mat-card-subtitle>
    <img src="assets/img/conta.PNG">
</mat-card>